h1{

    background:linear-gradient(to left, violet,white) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
   
}
body{
    background:url(./images/Banana-Pancakes-Feature-360x495.webp);
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
p{
    background:linear-gradient(to right, violet,lightblue) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 20px;
    color: aliceblue;
    height: 150px;
    width: 900px;
}
#a2{
font-size: larger 
}
@media (max-width:600px){
    body{
        background-size: contain;
    }
    p{
        height: auto;
        width:100%;
    }
}